node_modules
.pnpm-store
dist
build
coverage
**/coverage
.next
out
*.tsbuildinfo

.env
.env.*
!.env.example

.DS_Store
Thumbs.db
*.log
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

.turbo
.cache
